<div class="p-4 bg-white shadow-md rounded-md">
  <div class="space-y-4">
    <div>
      <label class="block text-sm font-medium mb-1">Nombre de la etiqueta</label>
      <input id="tagCNE" type="text" name="title" class="w-full border border-gray-300 rounded px-2 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500" placeholder="Escribe el nombre da la etiqueta..." required>
    </div>

    <div class="flex justify-end gap-3 pt-4">
      <button type="submit" class="bluecol" onclick="createTagCNE()">Crear etiqueta</button>
    </div>
  </div>
</div>
<br>
<div class="p-4 bg-white shadow-md rounded-md">
  <h2 class="block text-sm font-medium mb-1">Mis etiquetas</h2>

  <div class="space-y-4">
    <div id="tagsListCNE"></div>
  </div>
</div>

