<div id="iframeContainerVDD" class="flex flex-wrap gap-4 justify-start mb-6"></div>

<div class="p-4 bg-white shadow-md rounded-md">
  <div class="space-y-4">
    <div>
      <label class="block text-sm font-medium mb-1">Nombres archivos</label>
      <div id="file_links_vdd"></div>
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Título del documento</label>
      <input id="doc_title_vdd" type="text" class="w-full border rounded px-2 py-1" placeholder="Escribe el nombre del documento..." disabled>
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Descripción</label>
      <textarea id="doc_description_vdd" rows="3" class="w-full border rounded px-2 py-1" placeholder="Breve descripción del documento..." disabled></textarea>
    </div>

    <div class="flex gap-4">
      <div class="w-1/5">
        <label class="block text-sm font-medium mb-1">Fecha de caducidad</label>
        <input id="doc_date_vdd" type="date" class="w-full border rounded px-2 py-1" disabled>
      </div>

      <div class="flex-1">
        <label class="block text-sm font-medium mb-1">Correos aviso</label>
        <input id="email_aviso_vdd" type="text" class="w-full border rounded px-2 py-1" disabled>
      </div>
    </div>
  </div>
</div>
<br>
<div class="p-4 bg-white shadow-md rounded-md">
  <h3 class="text-sm font-semibold mb-1">Etiquetas del documento:</h3>
  <div class="space-y-4">
    <div id="tagsListVDD"></div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--

<div id="iframeContainerVDD" class="flex flex-wrap gap-4 justify-start mb-6">
  <div>
    <iframe src="https://pdfobject.com/pdf/sample.pdf" class="doc-preview"></iframe>
    <div class="doc-actions">
      <button class="btn-view" onclick="window.open('https://pdfobject.com/pdf/sample.pdf', '_blank')">👁️ Ver </button>
      <button class="btn-delete" onclick="deleteDoc(this)">🗑️ Borrar </button>
    </div>
  </div>
</div>


-->